/*广告*/
.left {
  width: 1200px;
  margin: auto;
}
.left .banner {
  width: 1200px;
  height: 90px;
}
.left .banner img {
  width: 1200px;
  height: 90px;
}
/*menu*/
.menu_dropDown {
  width: 930px;
}
.renovation_style {
  height: 40px;
  overflow: hidden;
  margin-left: 3px;
}
/*遮罩层*/
.mask_box_3d {
  display: none;
  position: absolute;
  top: 0;
  width: 380px;
  height: 274px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.mask_box_3d a {
  display: block;
  border: none;
}
.mask_box_3d a img {
  width: 74px;
  height: 74px;
  margin-top: 100px;
}
.mask_name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 260px;
  float: left;
  font-size: 14px;
  vertical-align: middle;
  margin-top: 4px;
}
/*案例列表页*/
.content {
  padding: 20px 0 20px 0;
  background: #f7f7f7;
  margin-right: -35px;
}
.content .item a {
  color: #000;
}
.content .item .bgbox {
  width: 380px;
  margin-right: 15px;
  float: left;
  margin-bottom: 16px;
  height: 328px;
  background: #fff;
  border: 2px solid #fff;
  padding: 6px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content .item .bgbox:hover {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  padding: 6px;
}
.content .item .bgbox:hover .mask_box_3d {
  display: block;
}
.content .item .bgbox .img {
  overflow: hidden;
}
.content .item .txt {
  font-weight: bold;
  font-size: 14px;
  height: 28px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 290px;
}
.content .item .txt a {
  color: #3e3a39;
}
.content .item .desc {
  display: block;
  width: 290px;
  color: #6e6e6e;
  height: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .item .type-title {
  display: inline-block;
  width: 100px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  vertical-align: middle;
}
.content .item .btnbox-gray {
  background: #7b7b7b;
  color: #fff !important;
  border: 1px solid #7b7b7b !important;
}
.content .item .btnbox {
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
  height: 25px;
  width: 75px;
  text-align: center;
  line-height: 25px;
  color: #929292;
  border: 1px solid #cfcfcf;
  margin-right: 8px;
  float: right;
  vertical-align: middle;
}
.content .item .btnbox:hover {
  background-color: #008d49;
  color: #fff;
  border: 1px solid #008d49;
}
.content .item .desbox {
  position: relative;
  top: 10px;
}
.content .item .desbox img {
  position: absolute;
  border-radius: 5px;
  width: 80px;
  height: 70px;
  display: block;
  left: 0px;
  top: 6px;
}
.content .rlast {
  margin-right: 0px;
}
/*翻页*/
.page {
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  padding: 15px 0;
}
#pages {
  font-size: 12px;
}
#pages a {
  border: 1px solid #e5e5e5;
  color: #3e3a39;
  overflow: hidden;
  margin: 0 2px 0 0;
  padding: 5px 10px;
}
#pages a:hover {
  background: #3e3a39;
  color: #fff;
}
#pages span {
  font-weight: 700;
  color: #5ea910;
  margin: 0 5px;
}
.clear {
  clear: both;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.mbx {
  height: 40px;
  line-height: 30px;
  font-size: 12px;
  width: 1200px;
  margin: 0 auto;
}
.mbx span {
  padding: 0 2px;
}
.mbx a {
  color: #000;
}
