.all_content{width: 1100px;margin: 0 auto;}
.t_weight{font-size: 22px;font-weight: bold;line-height: 35px;}
.t_black{color: #454142;}
.t_daxie{text-transform: uppercase;}
.f_22{font-size: 22px;}
.t_indent{text-indent: 3em;}
.f_20{font-size: 20px;}
.f_18{font-size: 18px;}
.about_wrap p{text-align: center;}
.about_wrap .about_pic{padding: 20px 0 20px 0;border-top: 1px dashed #dfdfdf;border-bottom: 1px dashed #dfdfdf;}
.profile-wrap{border-bottom: 1px dashed #dfdfdf;}
.company_profile{width: 1030px;margin: 0 auto;padding: 0 0 30px 0;}
.company_profile .brand_introduction{border-top: 1px solid #c6c6c6;border-bottom: 1px solid #c6c6c6;}
.company_profile .brand_introduction .brand_left{width: 294px;height: 790px;text-align: right;margin-bottom: 30px;display: inline-block;}
.company_profile .brand_introduction .brand_left .brand_head{height: 65px;margin: 30px 0 40px 0;}
.company_profile .brand_introduction .brand_left .brand_head p{font-size: 20px;}
.company_profile .brand_introduction .brand_left .brand_head div{width: 160px;height: 35px;background: #454142;color: #fff;font-size: 18px;text-align: center;line-height: 35px;}
.company_profile .brand_introduction .brand_right .right_head{width: 300px;line-height: 35px;background: #9AE101;padding: 0 0 0 30px;color: #fff;margin: 61px 0 40px 0;font-size: 18px;}
.company_profile .brand_introduction .brand_right .text_wrap{background: #EBEBEB;width: 685px;height: 605px;padding: 50px 20px 0 20px;}
.company_profile .brand_introduction .brand_right .text_title{width: 300px;height: 50px;margin-bottom: 40px;}
.company_profile .brand_introduction .brand_right .text_title .common_choice{width: 220px;height: 30px;}
.company_profile .brand_introduction .brand_right .total_text{font-size: 12px;line-height: 30px;}
.company_profile .brand_introduction .brand_right .total_text p{text-indent: 2em;}
.city_distribution .city_title{height: 40px;margin-bottom: 30px;}
.city_distribution .city_title .city_left{width: 294px;}
.city_distribution .city_title .city_left p{width: 160px;height: 35px;background: #454142;color: #fff;font-size: 18px;text-align: center;line-height: 35px;}
.city_distribution .city_title .city_right{width: 725px;}
.city_distribution .city_title .city_right p{line-height: 35px;background: #9AE101;color: #fff;font-size: 18px;text-indent: 2em;}
.company_glori{width: 1030px;margin: 0 auto;}
.company_glori .award{text-align: center;border: none;border-top: 1px solid #c6c6c6;}
.company_glori .our_honor{line-height: 30px;height: 680px;}
.company_glori .our_honor .honor_left{width: 450px;height: 620px;margin-top: 30px;border-right: 1px dashed #00aa87;display: inline-block;}
.company_glori .our_honor .honor_left p{font-size: 14px;color: #003804;}
.company_glori .our_honor .honor_right{width: 550px;}
.company_glori .our_honor .honor_right div{margin-top: 50px;width: 542px;height: 457px;}
.company_glori .our_honor .honor_right p{text-indent: 2em;font-size: 14px;margin-top: 30px;}
.company_glori .all_honor{padding-bottom: 70px;}
.company_glori .all_honor ul li{width: 255px;height: 210px;text-align: center;margin-top: 20px;float: left;font-size: 14px;}
.company_glori .all_honor ul li p{margin-top: 10px;}
.growth_wrap{width: 1030px;height: 1300px;margin: 0 auto;margin-top: 20px;border-top: 1px solid #c6c6c6;background: url("../images/about_14.png") center no-repeat;}
.growth_wrap .growth_left{text-align: right;width: 450px;padding-top: 130px;}
.growth_wrap .growth_right{text-align: left;width: 450px;padding-top: 130px;}
.growth_wrap p{font-size: 14px;line-height: 25px;}
.growth_wrap .mt130{margin-top: 130px;}
.growth_wrap .mt170{margin-top: 170px;}
.growth_wrap .mt100{margin-top: 100px;}
.growth_wrap .mt90{margin-top: 90px;}
.growth_wrap .mt50{margin-top: 50px;}
.culture{text-align: center;}
.culture div{width: 450px;height: 1px;border-top: 1px solid #c6c6c6;margin-top: 15px;}
.culture span{font-weight: bold;}
.corporate_culture{width: 1030px;margin: 0 auto;height: 900px;}
.corporate_culture .corporate_wrap .culture_pic{width: 570px;margin-top: 60px;border-right: 1px dashed #00aa87;}
.corporate_culture .corporate_wrap .corporate_text{margin: 60px 60px 0 0;width: 370px;text-align: left;}
.corporate_culture .corporate_wrap .corporate_text div{padding: 20px 0 10px 0;border-bottom: 1px solid #7C653B;}
.corporate_culture .corporate_wrap .corporate_text div p{font-size: 14px;}
.corporate_culture .corporate_wrap .corporate_text div .line_50{line-height: 50px;}
.corporate_culture .corporate_wrap .corporate_text .our_idea{border: none;line-height: 30px;}
.brand_banner{width: 100%;height: auto;margin:0px auto;}
.brand_banner img{width:100%;height: auto;display: block;}
.brand_content{width: 100%;margin-bottom: 20px;}
.content_1200{width: 1200px;margin: 0 auto;}
.content_center {width:700px;margin:30px 200px 0; position:absolute;overflow: hidden;line-height: 30px;font-size: 16px;}
.brand_1_box{width: 100%;height: 566px;background:url(../images/brand_1_bg.png);}
.brand_1_info{color:#515151;font-size: 14px;position: absolute;text-indent: 20px;}
.brand_2_box{width: 100%;height: 795px;background:url(../images/brand_2_bg.png);}
.brand_3_box{width: 100%;height: 1073px;background:url(../images/brand_3_bg.png);}
.brand_3_info{color: #fff;font-size: 13px;position: absolute;}
.brand_3_info_div ul li{line-height: 29px;}
.brand_4_box{width: 100%;height: 1200px;background:url(../images/brand_4_bg.png);}
.brand_5_box{width: 100%;height: 729px;background:url(../images/brand_5_bg.png);}

.conn_box{background:#fff; height:250px; padding:20px; margin:30px auto; width:1160px;}
.conn_rr{float:right; width:500px;}
.conn_ll{float:left; width:400px; font-size:14px; margin-left:200px;}
.conn_ll h2{font-size:30px;color:#333; margin-bottom:15px; font-weight:normal}
.conn_ll .conn_address{ padding-left:30px; line-height:30px; margin:4px 0 0; background:url(../images/conn_dot01.png) left 9px no-repeat; }
.conn_ll .conn_tel{padding-left:30px; line-height:30px; margin:4px 0 0; background:url(../images/conn_dot02.png) left 9px no-repeat; }
.conn_ll .conn_email{padding-left:30px; line-height:30px; margin:4px 0 0; background:url(../images/conn_dot03.png) left 9px no-repeat; }
.conn_ll .conn_fax{padding-left:30px; line-height:30px; margin:4px 0 0; background:url(../images/conn_dot04.png) left 9px no-repeat; }
.conn_ll .conn_code{margin-top:20px; float:left; display:block}
.conn_ll .conn_code img{max-width:120px!important;}
.conn_ll .conn_code span{display:block;color:#333;margin-top:5px; text-align:center}
.ml20{margin-left:20px;}