
.clears {
  clear: both;
}
.case-bg-box {
  background: #eaeaea;
}
.case-content-box {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.ad_banner {
  padding-top: 20px;
}
.ad_banner img {
  width: 100%;
}
.case-inner-box {
  margin-top: 0px;
}
.case-inner-left {
  float: left;
  width: 860px;
  height: 960px;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #f4f4f4;
  overflow: hidden;
}
.case-inner-left-1 {
  position: relative;
  width: 100%;
  height: 45px;
  left: 0px;
  top: 0px;
}
.case-inner-left-1 img {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 90px;
  margin-left: -45px;
}
.case-inner-left-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}
.case-inner-left-2 {
  position: relative;
  width: 238px;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #dddddd;
  text-align: center;
}
.case-inner-left-2 img {
  width: 100%;
  height: 238px;
  margin-bottom: 15px;
}
.case-inner-left-2 p {
  margin-top: 5px;
  font-size: 13px;
}
.case-inner-left-2 .case-inner-2-btn-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.case-inner-left-2 .case-inner-2-btn-box .anli {
  display: inline-block;
  border: 1px solid #dcdcdc;
  text-align: center;
  width: 95px;
  height: 24px;
  font-size: 12px;
  color: #7d7d7d;
  line-height: 24px;
  margin-right: 10px;
}
.case-inner-left-2 .case-inner-2-btn-box .anli:hover {
  display: inline-block;
  border: 1px solid #008d49;
  text-align: center;
  width: 95px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  background-color: #008d49;
  line-height: 24px;
}
.case-inner-left-2 .case-inner-2-btn-box .sheji {
  display: inline-block;
  border: 1px solid #dcdcdc;
  text-align: center;
  width: 95px;
  height: 24px;
  font-size: 12px;
  color: #7d7d7d;
  line-height: 24px;
}
.case-inner-left-2 .case-inner-2-btn-box .sheji:hover {
  display: inline-block;
  border: 1px solid #008d49;
  text-align: center;
  width: 95px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  background-color: #008d49;
  line-height: 24px;
}
.case-inner-left-3 {
  display: block;
  margin-top: 15px;
}
.case-inner-left-3 .case-inner-left-3-add {
  width: 100%;
  height: auto;
}
.case-inner-left-3 .case-inner-form-modal {
  display: block;
  width: 100%;
  padding: 10px 20px;
  padding-left: 19px;
  padding-top: 15px;
  padding-bottom: 0px;
}
.case-inner-left-3 .case-inner-form-modal label {
  font-size: 13px;
}
.case-inner-left-3 .case-inner-form-modal input {
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  margin-left: 5px;
  padding: 5px 5px;
  text-align: center;
  width: 189px;
}
.codes {
  position: absolute;
  display: block;
  width: 70px;
  background: #fff;
  color: #b1b5b4;
  font-size: 12px;
  text-align: center;
  height: 18px;
  top: 20px;
  right: 60px;
  line-height: 18px;
  border-left: 1px solid #dcdcdc;
}
.codes:hover {
  cursor: pointer;
}
.case-form-send {
  display: block;
  width: 265px;
  margin: 0 auto;
  background: #008d49;
  color: #fff;
  text-align: center;
  border: 0px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.case-inner-right {
  width: 299px;
  height: 1000px;
  float: left;
  background: #fff;
  border-left: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.gallery-top {
  position: relative;
  width: 100%;
  height: auto;
  background: #f4f4f4;
}
.gallery-top img {
  display: block;
  width: auto;
  max-width: 100%;
  height: 580px;
  margin: 0 auto;
}
.gallery-top-slide {
  height: 630px;
}
.case-good {
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 99;
  display: block;
}
.case-good img {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: auto;
}
.case-good .case-good-numb {
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
}
.case-good:hover {
  cursor: pointer;
}
.case-good-plus {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
}
.gallery-bottom-box {
  position: relative;
  padding: 15px 50px;
  width: 760px;
  background-color: #f4f4f4;
}
.gallery-bottom {
  display: inline-block;
  width: 750px;
  height: auto;
  left: 15px;
}
.swiper-thumb {
  width: 105px !important;
  height: 80px !important;
  border: 3px solid #dddddd;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin-right: 20px;
  overflow: hidden;
  opacity: 1;
}
.swiper-thumb img {
  display: block;
  width: auto;
  height: 80px;
  margin: 0 auto;
}
.gallery-bottom-active {
  border: 3px solid #73b434 !important;
}
.case-table {
  margin-top: 10px;
}
.case-table table {
  display: block;
  width: 100%;
  height: auto;
  table-layout: fixed;
}
.case-table table tr {
  display: block;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.case-table table tr:first-child {
  border-top: 1px solid #eaeaea;
}
.case-table table tr td {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.case-table table tr td div {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #666666;
}
.case-table table tr td:nth-child(odd) {
  width: 125px;
  background: #f2f2f2;
  color: #000;
  text-align: center;
}
.case-table table tr td:nth-child(even) {
  background: #fff;
  color: #000;
  text-align: center;
  overflow: hidden;
  color: #666666;
}
.case-good-linian {
  margin-top: 10px;
  font-size: 14px;
}
.comment-box {
  width: 1160px;
  margin: 0 auto;
  padding: 20px;
  background: #FFFFFF;
  padding-bottom: 15px;
}
.comment-inner-box {
  padding: 15px;
  background: #f4f4f4;
}
.comment-inner-box-header {
  display: block;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}
.comment-header-left {
  position: relative;
  float: left;
  font-size: 16px;
  font-weight: 600;
  width:1165px;
  border-bottom: 1px solid #dcdcdc;
  height: 30px;
}
.comment-header-left div {
  position: absolute;
  width: 110px;
  border-bottom: 2px solid #008d49;
  padding-bottom: 8px;
}
.comment-header-right {
  float: right;
  font-size: 13px;
}
.comment-header-right span {
  color: crimson;
}
.comment-form-send {
  padding-top: 15px;
}
.comment-form-send input {
  display: inline-block;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: middle;
  background: white;
  width: 190px;
  border: transparent;
}
.comment-form-send span {
  color: crimson;
  vertical-align: middle;
  margin: 0 10px;
}
.comment-form-send-btn {
  display: block;
  float: right;
  width: 94px;
  height: 35px;
  line-height: 35px;
  color: white;
  text-align: center;
  padding-left: 15px;
  background-repeat: no-repeat;
}
.comment-form-send-btn:hover {
  cursor: pointer;
}
.comment-area {
  margin-top: 10px;
  width: 100%;
  height: 203px;
  background: #f4f4f4 ;
  border: 1px solid #e4e4e4;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.comment-area:focus {
  background: #fff ;
}
.guess-favorite-header {
  padding: 0px 10px;
  padding-left: 0px;
}
.guess-favorite-content {
  margin-top: 15px;
  margin-right: -20px;
}
.guess-favorite-modal {
  display: inline-block;
  width: 280px;
  height: 235px;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}
.guess-favorite-modal:last-child {
  margin-right: 0px;
}
.guess-favorite-modal:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.guess-favorite-modal img {
  display: block;
  width: 280px;
  height: 200px;
}
.guess-favorite-modal p {
  margin-top: 10px;
  font-size: 13px;
}
.guess-favorite-modal div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.guess-favorite-modal-bottom {
  margin-top: 10px;
}
.guess-favorite-modal-bottom a {
  color: #000;
}
.guess-favorite-modal-bottom-left {
  float: left;
  font-size: 14px;
  font-weight: 600;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.guess-favorite-modal-bottom-right {
  float: right;
  font-size: 14px;
  font-weight: 600;
  text-overflow: ellipsis;
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
}
.guess-favorite-header-right:hover {
  color: #76b33a ;
  cursor: pointer;
}
.animate-slide-out {
  display: block;
  -webkit-animation: slideout 2s;
          animation: slideout 2s;
}
@keyframes slideout {
  from {
    position: absolute;
    opacity: 1;
    color: #fff;
    top: -10px;
  }
  to {
    position: absolute;
    color: #fff;
    top: -30px;
    opacity: 0;
  }
}
@-webkit-keyframes slideout {
  /* Safari 和 Chrome */
  from {
    position: absolute;
    opacity: 1;
    color: #fff;
  }
  to {
    position: absolute;
    top: -20px;
    opacity: 0;
  }
}
.gallery-top-prev {
  width: 50px !important;
  height: 100px !important;
  background-size: 100% 100% !important;
  margin-top: -50px !important;
}
.gallery-top-next {
  width: 50px !important;
  height: 100px !important;
  background-size: 100% 100% !important;
  margin-top: -50px !important;
}
.gallery-bottom-prev {
  width: 15px !important;
  height: 30px !important;
  background-size: 100% 100% !important;
  margin-top: -15px !important;
}
.gallery-bottom-next {
  width: 15px !important;
  height: 30px !important;
  background-size: 100% 100% !important;
  margin-top: -15px !important;
}
.mbx {
  height: 60px;
  line-height: 60px;
  font-size: 12px;
}
.mbx span {
  padding: 0 2px;
}
.mbx a {
  color: #000;
}
