
.house_style input {
  height: auto !important;
  line-height: auto !important;
}
.house_style label {
  margin-right: 20px;
}
.house_style .styleSpan {
  display: block;
  float: left;
  height: 40px;
}
.house_style .styleChoose {
  width: 290px;
  float: right;
}
.quotedPriceBtn {
  color: #fff;
  background: #71B426;
  line-height: 38px;
  text-align: center;
  width: 104px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 25px 0 25px;
  display: inline-block;
  border: 1px solid #7dc62a;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.quotedPriceBtn:hover {
  color: #7dc62a;
  background: transparent;
}
.msgs_o {
  color: #999999 !important;
  border: 1px solid #999999 !important;
  background: #ececec;
}
