
.whereBox {
  width: auto;
  margin: 0 auto;
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #E9E9E9;
}
.whereBox .item {
  line-height: 40px;
  border-bottom: 1px solid #E9E9E9;
}
.whereBox .item:last-child {
  border-bottom: 0px solid #E9E9E9;
}
.whereBox .item .fl:first-child {
  background: #f8f8f8;
  border-right: 1px solid #E9E9E9;
  margin-right: 15px;
  color: #666666;
}
.whereBox .item span {
  width: 98px;
  display: inline-block;
  text-align: center;
}
.whereBox .item a {
  display: inline-block;
  height: 25px;
  padding: 0 20px;
  line-height: 25px;
  color: #414141;
}
.whereBox .item a:hover {
  text-decoration: underline;
  color: #414141;
}
.whereBox .item .on {
  background-color: #008d49;
  color: #fff;
}
.whereBox .item .on:hover {
  color: #fff;
  text-decoration: none;
}
.clear {
  clear: both;
}
