.case-team-box {
  width: 1200px;
  margin: 0 auto;
  background: #f7f7f7;
  padding-bottom: 25px;
}
.case-team-list-box {
  width: 1250px;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom: 5px;
  font-size: 0px;
}
.case-team-list-modal {
  display: inline-block;
  padding: 0px;
  width: 287px;
  border: 0px solid #FFFFFF;
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  height: 382px;
  margin-right: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.case-team-list-modal img {
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
  width: 287px;
  height: 287px;
}
.case-team-list-modal:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.case-team-list-modal:hover .case-team-list-modal-btnbox {
  display: block;
}
.case-team-list-modal-title {
  display: block;
  width: 220px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.case-team-list-modal-title .case-team-list-modal-title-name {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  margin-right: 5px;
  margin-left: 20px;
}
.case-team-list-modal-title .name-green {
  color: #6f9329 !important;
}
.case-team-list-modal-title .case-team-list-modal-title-job {
  display: inline-block;
  font-size: 13px;
  color: #000;
}
.case-team-list-modal-title .green-line {
  width: 16px;
  height: 1px;
  background-color: #02723c;
  margin: 0 auto;
  margin-top: 5px;
}
.case-team-list-modal-zige {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0px 28px;
}
.case-team-list-modal-des {
  font-size: 12px;
  color: #67666b;
  margin-bottom: 20px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 28px;
}
.case-team-list-modal-btnbox {
  position: absolute;
  left: 0px;
  top: 257px;
  width: 287px;
  display: none;
}
.case-team-list-modal-btnbox a {
  font-size: 12px;
  display: inline-block;
  width: 128px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.case-team-list-modal-btnbox a:hover {
  text-decoration: none;
}
.case-team-list-modal-btnbox a:first-child {
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.5) !important;
}
.case-team-list-modal-btnbox a:first-child:hover {
  background: #000000 !important;
}
.case-team-list-modal-btnbox a:last-child {
  color: #cececf;
  background: #087844;
  background: rgba(8, 120, 68, 0.7) !important;
}
.case-team-list-modal-btnbox a:last-child:hover {
  background: #087844 !important;
  color: #FFF;
}
.page {
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  padding: 15px 0;
}
#pages {
  font-size: 12px;
}
#pages a {
  border: 1px solid #e5e5e5;
  color: #3e3a39;
  overflow: hidden;
  margin: 0 2px 0 0;
  padding: 5px 10px;
}
#pages a:hover {
  background: #3e3a39;
  color: #fff;
}
#pages span {
  font-weight: 700;
  color: #5ea910;
  margin: 0 5px;
}
.mbx {
  height: 40px;
  line-height: 30px;
  font-size: 12px;
  width: 1200px;
  margin: 0 auto;
  padding-top:10px;
}
.mbx span {
  padding: 0px 2px;
}
.mbx a {
  color: #000;
}
