body{background: #f4f4f4;}
a img{border: none;}
input,
button,
textarea,
select,
optgroup,
option{font-size: 100%; font: inherit;}
a{text-decoration: none;}
ul li{list-style: none;}
img{border: 0; vertical-align: bottom;}
.fl,
.il .fl{float: left;}
.fr,
.il .fr{float: right;}
.fc,
.il .fc{float: none; clear: both;}
.col{width: 1200px; margin: auto; padding-bottom: 32px;}
.clear{clear: both; font-size: 0; line-height: 0; float: none;}
.master_right{width: 880px; overflow: hidden;}
.master_left{width: 300px;}
.recommend_banner{width: 100%; background: url(../images/recommendbg.jpg);}
.recommend_banner .recommend_top_info{width: 1200px; height: 300px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: auto;}
.recommend_banner .recommend_top_header{width: 200px; margin: 0 auto; color: #fff; text-align: center; padding-top: 30px;}
.recommend_banner .recommend_top_header .name{font-size: 25px; margin-top: 23px;}
.recommend_banner .recommend_top_header .level{margin-top: 8px; margin-bottom: 13px; font-size: 12px;}
.recommend_banner .recommend_top_header .bespoke_btn{border-radius: 8px; background: #73b434; font-size: 12px; color: #fff; display: block; width: 94px; height: 25px; line-height: 25px; margin: 0 auto;}
.recommend_banner .recommend_top_header img{width: 120px; height: 120px; border-radius: 50%; border: 2px solid #fff; -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);}
.mbx{height: 60px; line-height: 60px; font-size: 12px;}
.mbx span{padding: 0 2px;}
.mbx a{color: #000;}
/*案例列表页*/
.whereBox{font-size: 12px; width: auto; padding: 20px; margin: 0 auto 10px auto; background-color: #fff;}
.whereBox .item{height: 40px; line-height: 40px; border-bottom: 1px dashed #b1b1b1;}
.whereBox .item span{padding: 0 30px 0 20px;}
.whereBox .item a{display: inline-block; height: 25px; padding: 0 20px; line-height: 25px; color: #414141;}
.whereBox .item a :hover{text-decoration: underline; color: #414141;}
.whereBox .item .on{background-color: #5ea910; color: #fff;}
.content{font-size: 12px; padding: 20px; background: #fff; width: auto;}
.content .item{width: 270px; height: 290px; margin-right: 10px; float: left; margin-bottom: 15px; position: relative;}
.content .item img{width: 270px; height: 195px;}
.content .item .bgbox{background: #f6f6f6; height: 290px;}
.content .item .active{border-color: #84c225; z-index: 999; position: absolute; left: 0px; top: 0px;}
.content .item .txt{font-size: 14px; height: 30px; line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; margin-top: 10px; padding-left: 15px; padding-right: 15px;}
.content .item .txt a{color: #3e3a39; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.content .item .desc{font-size: 12px; color: #6e6e6e; height: 20px; margin-bottom: 8px; padding-left: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 15px;}
.content .item .btnbox{text-align: center;}
.content .item .btnbox a{display: inline-block; height: 30px; width: 110px; text-align: center; line-height: 20px; border-radius: 8px; line-height: 30px; color: #fff; background: #898989; margin-right: 8px;}
.content .item .btnbox a:hover{background-color: #008d49; color: #fff;}
.content .item .desbox{height: 60px;}
.content .item .desbox .img{height: 60px; width: 60px; margin-right: 10px;}
.content .item .desbox .img .destxtmicon{width: 60px; height: 60px; left: 0px; top: 0px; background-position: -150px 0;}
.content .item .desbox .info{width: 175px;}
.content .item .desbox .info .name{line-height: 30px;}
.content .item .desbox .info .name a{color: #1f3d30;}
.content .item .desbox .info .name a:hover{text-decoration: underline;}
.content .item .desbox .info .name span{color: #54970a; padding-left: 5px;}
.content .rlast{margin-right: 0px;}
/*设计师show*/
.showdesbox{font-size: 12px; background: #fff; padding: 28px 20px; padding-bottom: 23px; overflow:hidden}
.showdesbox .todesbtn{height: 37px; width: 130px; line-height: 37px; color: #fff; background: #5da910; border-radius: 6px; top: 0px; right: 20px; font-size: 14px; display: inline-block; text-align: center; float: right;}
.showdesbox .todesbtn:hover{background: #2d2a29;}
.showdesbox .infobox{height: auto; margin-bottom: 10px; overflow: hidden;}
.showdesbox .infobox .img{width: 270px; height: 270px; margin-right: 20px;}
.showdesbox .infobox .info{width: 470px; height: auto;}
.showdesbox .infobox .info .bg_1{background: url(../images/leftbg.png) no-repeat left; padding-left: 20px; background-position: 0px 4px;}
.showdesbox .infobox .info .bg_2{background: url(../images/leftbg.png) no-repeat left; padding-left: 20px; background-position: 0px -45px;}
.showdesbox .infobox .info .bg_3{background: url(../images/leftbg.png) no-repeat left; padding-left: 20px; background-position: 0px -21px;}
.showdesbox .infobox .info .bg_4{background: url(../images/leftbg.png) no-repeat left; padding-left: 20px; background-position: 0px 2px;}
.showdesbox .infobox .info .name{padding-bottom: 12px;}
.showdesbox .infobox .info .name strong{font-size: 24px; color: #353535;}
.showdesbox .infobox .info .name i{color: #797979;}
.showdesbox .infobox .info .name span{font-size: 13px; color: #71b619; padding-right: 40px; padding-left: 40px;}
.showdesbox .infobox .info .desc{border-bottom: 1px solid #f4f4f4; line-height: 24px; color: #797979; font-size: 12px; margin-bottom: 20px; overflow: hidden; padding-bottom: 20px;}
.showdesbox .infobox .info p{line-height: 20px; margin-bottom: 5px; font-size: 13px;}
.showdesbox .infobox .info p span{padding-right: 5px; color: #9f9f9f;}
.showdesbox .daitxt{border-top: 1px solid #f4f4f4; padding-top: 30px; margin-bottom: 30px; text-align: center;}
.showdesbox .daitxt p{border-bottom: solid 4px #499b0a; width: 150px; font-size: 24px; color: #2d2a29; padding: 10px 0; margin: 30px 0 0 0;}
.showdesbox .content{padding: 0;}
.desrq{font-size: 12px; padding: 0 20px; border-bottom: 1px dashed #b8b8b8; line-height: 30px;}
.desrq a{color: #3e3a39;}
.desrq a:hover{text-decoration: underline;}
/*表单和轮播*/
.signForm{background: #fff; padding: 10px; width: auto;}
.signForm div{font-size: 14px; height: 44px;}
.signForm label{margin-left: 10px; width: 57px; text-align: right; display: inline-block;}
.signForm input{width: 200px; height: 30px; border: 1px solid #c9c9c9; border-radius: 8px; text-align: center; margin-left:5px; font-size: 12px;}
.signForm_imgBox{width: 300px; height: 140px;}
.signForm_imgBox img{width: 300px; height: 140px; display: block;}
.confirmation{display: block; background: #008d49; color: #fff; width: 266px; height: 32px; margin: 5px 10px; text-align: center; line-height: 32px; font-size: 14px; border-radius: 8px;}
.excellent_case{border-bottom: 1px solid #ebebeb; margin-bottom: 10px; padding-bottom: 8px;}
.excellent_case span{border-bottom: 1px solid #008d49; font-weight: bold; padding-bottom: 8px;}
.code_box{border: 1px solid #c9c9c9; height: 30px; display: inline-block; border-radius: 8px; margin-left: 8px; width: 198px; font-style: normal;}
/*swiper*/
.arrow-lefts{position: absolute; left: 0px; top: 50%; margin-top: -15px; width: 34px; height: 40px; z-index: 99;}
.arrow-rights{position: absolute; right: 0px; top: 50%; margin-top: -15px; width: 34px; height: 40px; z-index: 99;}
.swiper-container{width: 280px; height: 280px; color: #fff; text-align: center;}
.swiper-container img{width: 280px; height: 280px;}
.banner_tips{position: absolute; bottom: 0; font-size: 14px; background: #404040; height: 30px; line-height: 30px; width: 100%; text-align: center;}
/*翻页*/
.page{clear: both; width: 100%; text-align: center; line-height: 30px; overflow: hidden; padding: 15px 0;}
#pages{font-size: 12px;}
#pages a{border: 1px solid #e5e5e5; color: #3e3a39; overflow: hidden; margin: 0 2px 0 0; padding: 5px 10px;}
#pages a:hover{background: #3e3a39; color: #fff;}
#pages span{font-weight: 700; color: #5ea910; margin: 0 5px;}
.clear{clear: both;}
.hide{display: none !important;}
.show{display: block !important;}
/*弹窗*/
.reservationDesign_box{position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background: rgba(0, 0, 0, 0.7); display: none;}
#close_btn{cursor: pointer; float: right; color: #000; opacity: .2; filter: alpha(opacity=20);}
