i {
  font-style: normal;
}
.onLineBuilding-box {
  background: #fff;
}
.top-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.top-content {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}
.online-top-left {
  width: 500px;
  height: 200px;
  float: left;
  overflow: hidden;
}
.online-top-left .img-box {
  margin-top: 30px;
}
.online-top-left .img-box img {
  width: 216px;
  height: 142px;
}
.online-top-left .info-box {
  margin-top: 40px;
  margin-left: 10px;
}
.online-top-left .info-box p {
  line-height: 24px;
}
.top-icon-0 {
  background: url(../images/home.png) left center no-repeat;
  background-position-x: 0;
  padding-left: 20px;
}
.top-icon-1 {
  background: url(../images/location.png) left center no-repeat;
  background-position-x: 0;
  padding-left: 20px;
}
.top-icon-2 {
  background: url(../images/calc.png) left center no-repeat;
  background-position-x: 0;
  padding-left: 20px;
}
.online-top-right {
  width: 400px;
  height: 200px;
  float: right;
}
.online-top-right ul {
  width: 600px;
  height: 42px;
  margin-top: 80px;
}
.online-top-right ul li {
  float: left;
  border-right: 1px solid #e2e2e2;
  width: 88px;
  text-align: center;
}
.online-top-right ul li:last-child {
  border-right: none;
}
.online-top-right span {
  display: block;
}
.bespokeBtn {
  color: #7dc62a;
  background: transparent;
  line-height: 38px;
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
  width: 118px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 25px 0 25px;
  display: inline-block;
  border: 1px solid #7dc62a;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
.bespokeBtn:hover {
  color: #fff;
  background: #71B426;
}
/*装修团队*/
.onLineBuilding-content {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
}
.name-title-box {
  width: 100%;
  height: 86px;
}
.name-title {
  width: 86px;
  height: 86px;
}
.name-span {
  display: block;
  margin-top: -66px;
  color: #fff;
  width: 40px;
  margin-left: 26px;
}
.team-box {
  overflow: hidden;
  border-left: 1px solid #e2e2e2 ;
  border-bottom: 1px solid #e2e2e2 ;
  width: 1160px;
  margin-left: 30px;
  margin-top: -50px;
  padding-bottom:20px;
}
.team-box span {
  display: block;
}
.team-title {
  margin-left: 80px;
  margin-bottom: 20px;
}
.team-box ul {
  width: 100%;
  margin-left: 80px;
}
.team-designer-list li {
  float: left;
  width: 31%;
  text-align: center;
  padding-bottom: 30px;
}
.team-designer-list li img {
  width: 300px;
  height: 300px;
}
.designer-name {
  color: #353535;
}
.place {
  color: #7d7d7d;
  font-size: 14px;
}
/*水电工程*/
.info-button {
  width: 110px;
  height: 40px;
  color: #fff;
  background: #797979;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
}
.shuidian-list {
  overflow: hidden;
}
.shuidian-list li {
  float: left;
  width: 23.5%;
  text-align: center;
  border-right: 1px solid #e2e2e2;
}
.shuidian-list li:first-child {
  text-align: left;
}
.shuidian-list li:last-child {
  border-right: none;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs18 {
  font-size: 18px;
}
.fs36 {
  font-size: 36px;
}
.fs28 {
  font-size: 28px;
}
.fs26 {
  font-size: 26px;
}
.cof2462a {
  color: #f2462a;
  /*红色*/
}
.co7dc62a {
  color: #7dc62a;
}
.co646363 {
  color: #646363;
  /*灰色*/
}
.coa0a0a0 {
  color: #a0a0a0;
  /*中等灰色*/
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mf10 {
  margin-left: 10px;
}
.mf20 {
  margin-left: 20px;
}
.shigong-icon-0 {
  background: url(../images/sgneirogn.png) left center no-repeat;
  background-position-x: 0;
  margin-bottom: 10px;
  padding-left: 50px;
}
.shigong-icon-1 {
  background: url(../images/sgrenyuan.png) left center no-repeat;
  background-position-x: 25%;
  margin-bottom: 10px;
}
.shigong-icon-2 {
  background: url(../images/jianguan.png) left center no-repeat;
  background-position-x: 25%;
  margin-bottom: 10px;
}
.shigong-icon-3 {
  background: url(../images/jindu.png) left center no-repeat;
  background-position-x: 25%;
  margin-bottom: 10px;
}
.sdgongcheng img {
  width: 255px;
  height: 266px;
}
.nsgongcheng img {
  width: 255px;
  height: 266px;
}
.yqgongcheng img {
  width: 255px;
  height: 266px;
}
/*测试*/
.swiper-container {
  width: 1160px;
  height: 255px;
  color: #fff;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.online-table-box {
  margin-left: 80px;
  margin-bottom: 30px;
}
.list-table {
  width: 500px;
  border-collapse: collapse;
}
.list-table thead td {
  background: #f9f9f9;
  height: 50px;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.list-table thead td:first-child {
  border-left: 2px solid #7dc62a;
}
.list-table tbody td {
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: #666666;
}
.list-table tr:nth-child(even) {
  background: #f9f9f9;
}
/*业主验收*/
.owner-check {
  overflow: hidden;
  background: #f9f9f9;
  margin-left: 80px;
  margin-bottom: 30px;
  padding: 19px 0;
}
.owner-check .sate {
  width: 200px;
  padding-left: 20px;
  margin-top: 20px;
  border-right: 1px solid #e2e2e2;
}
.owner-check .content {
  margin-top: 20px;
  width: 700px;
  padding: 0 20px;
}
/*评论*/
.comment-box {
  width: 1200px;
  margin: auto;
}
.comment-title {
  overflow: hidden;
  border-bottom: 1px dashed #e2e2e2;
  height: 60px;
  line-height: 60px;
}
.textarea {
  height: 60px;
  width: 1100px;
  border: 1px solid #e2e2e2;
  margin-left: 20px;
}
.replay-box {
  text-align: right;
  margin-top: 16px;
}
.replay-comment {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background: #fda91a;
  border: none;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.comment-list {
  overflow: hidden;
}
.first-comment {
  padding-bottom: 30px;
  width: 1050px;
  margin-left: 20px;
  margin-right: 30px;
}
.replay-comment-box {
  overflow: hidden;
  margin-top: 30px;
}
.bd1px {
  border-bottom: 1px dashed #e2e2e2;
}
.load-more-comment {
  width: 100%;
  text-align: center;
}
.public-button {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.yellow-booton {
  background: #fda91a;
  color: #fff;
}
.gray-button {
  background: #484848;
  color: #fff;
}
textarea {
  resize: none;
}
.replay-button {
  cursor: pointer;
}
.heading-img {
  width: 66px;
  height: 66px;
  border-radius: 33px;
}
.swiper-slide {
  opacity: 1 !important;
}
