body {
  background: #f7f7f7;
}
/*����*/
.left {
  width: 1200px;
  overflow: hidden;
  margin: auto;
}
.left .banner {
  width: 1200px;
  height: 90px;
}
.left .banner img {
  width: 1200px;
  height: 90px;
}
/*menu*/
.menu_dropDown {
  width: 930px;
}
.renovation_style {
  height: 40px;
  overflow: hidden;
  margin-left: 3px;
}
.renovation_style_on {
  overflow: auto !important;
  height: auto !important;
}
.set_style {
  height: 40px;
  overflow: hidden;
  margin-left: 3px;
}
.set_style_on {
  overflow: auto !important;
  height: auto !important;
}
.series_style {
  height: 40px;
  overflow: hidden;
  margin-left: 3px;
}
.series_style_on {
  overflow: auto !important;
  height: auto !important;
}
.down {
  margin-bottom: 2px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari �� Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
.content {
  padding: 10px 0 20px 0;
  margin-right: -15px;
}
.content .item .bgbox {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 390px;
  margin-right: 15px;
  float: left;
  margin-bottom: 16px;
  position: relative;
  height: auto;
  background: #fff;
}
.content .item .bgbox:hover {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.content .item .bgbox .imgboxing {
  width: 380px;
  height: 250px;
  margin-left: 5px;
  margin-top: 5px;
}
.content .item .bgbox .imgboxing a {
  display: block;
  width: 380px;
  height: 250px;
}
.content .item .bgbox .imgboxing a img {
  width: 100%;
  height: 250px;
}
.onlinebuildingList-state {
  position: absolute;
  right: 5px;
  top: 5px;
}
.onlinebuildingList-bottom {
  position: relative;
  background: #fff;
  height: 85px;
}
.onlinebuildingList-bottom-title {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  display: block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.onlinebuildingList-bottom-title-right {
  position: absolute;
  right: 15px;
  top: 15px;
}
.onlinebuildingList-bottom-title-right span {
  font-size: 12px;
  color: #aaaaaa;
}
.onlinebuildingList-bottom-title-right span img {
  margin-right: 5px;
  vertical-align: baseline;
}
.onlinebuildingList-bottom-link {
  position: relative;
  top: 42px;
  margin-left: 294px;
  display: block;
  width: 78px;
  height: 25px;
  line-height: 25px;
  background: #898989;
  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 8px;
}
.onlinebuildingList-bottom-link:hover {
  cursor: pointer;
  background: #008d49;
}
.onlinebuildingList-bottom-addr {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 14px;
  color: #737373 ;
}
/*��ҳ*/
.page {
  clear: both;
  width: 100%;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  padding: 15px 0;
}
#pages {
  font-size: 12px;
}
#pages a {
  border: 1px solid #e5e5e5;
  color: #3e3a39;
  overflow: hidden;
  margin: 0 2px 0 0;
  padding: 5px 10px;
}
#pages a:hover {
  background: #3e3a39;
  color: #fff;
}
#pages span {
  font-weight: 700;
  color: #5ea910;
  margin: 0 5px;
}
.clear {
  clear: both;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.mbx {
  height: 40px;
  line-height: 30px;
  font-size: 12px;
  width: 1200px;
  margin: 0 auto;
  padding-top:10px
}
.mbx span {
  padding: 0 2px;
}
.mbx a {
  color: #000;
}
.col {
  background: #f7f7f7;
  padding-top: 20px;
}
