@charset "utf-8";
/* CSS Document */
/***************************{CSS Reset}*****************************/
body{font-size: 12px;}
a img{border: none;}
a{text-decoration: none;}
ul li{list-style: none;}
img{border: 0; vertical-align: bottom;}
/***************************{Common CSS Class}*****************************/
.col{width: 1200px; margin: auto;}
.clear{clear: both; font-size: 0; line-height: 0; float: none;}
.mbx{height: 50px; line-height: 50px; font-size: 12px;}
.mbx a{color: #000;}
.mbx a:hover{color: #84c225;}
.mbx span{padding: 0 8px;}
.left{width: 880px; overflow: hidden;}
.right{width: 300px;}
.page{clear: both; width: 100%; text-align: center; line-height: 30px; overflow: hidden; padding: 15px 0;}
#pages a{border: 1px solid #e5e5e5; color: #3e3a39; overflow: hidden; margin: 0 2px 0 0; padding: 5px 10px;}
#pages a:hover{background: #3e3a39; color: #fff;}
#pages span{font-weight: 700; color: #5ea910; margin: 0 5px;}
/*swiper*/
.arrow-lefts{position: absolute; left: 0px; top: 50%; margin-top: -15px; width: 34px; height: 40px; z-index: 99;}
.arrow-rights{position: absolute; right: 0px; top: 50%; margin-top: -15px; width: 34px; height: 40px; z-index: 99;}
.swiper-container{width: 880px; height: 360px; color: #fff; text-align: center;}
/*文章列表*/
.artlist .listtitle{background: #fff; height: 70px; line-height: 70px; width:880px; border-bottom: 2px solid #dddddd;}
.artlist .listtitle a{padding:0 15px; float: left; display: block; text-align: center; font-size: 18px; color: #818181;}
.artlist .listtitle a:Hover{color: #5da910; border-bottom: #5da910 2px solid;}
.artlist .listtitle .titleactive{color: #5da910; border-bottom: #5da910 2px solid;}
.artlist .listbox{background: #fff; padding: 20px; width: auto; min-height: 1026px;}
.artlist .bg{background-color: #f3f3f3;}
.artlist .item{padding: 15px; width: auto; height: 200px; padding-bottom: 17px;}
.artlist .item:hover{background-color: #f3f3f3;}
.artlist .item .img{width: 300px; margin-right: 30px; overflow: hidden; background: #ccc; height: 200px;}
.artlist .item .info{width: 468px; height: 200px;}
.artlist .t a{font-size: 18px; color: #3e3a39; font-weight: bold;}
.artlist .t a:hover{text-decoration: underline;}
.artlist .num{color: #cdcdcd; padding: 12px 0 15px 0; border-bottom: 1px solid #499b0a; margin-bottom: 10px;}
.artlist .num span{color: #6ab795; padding-left: 10px;}
.artlist .desc{line-height: 24px; color: #767676; height: 48px; padding-bottom:10px;}
.artlist .btnbox{left: 0px; bottom: 0px; width: 468px;}
.artlist .btnbox a{display: inline-block; line-height: 28px; height: 28px; width: 143px; background-color: #ffffff; border: 1px solid #d4d2d2; font-size: 14px; color: #acacac; text-align: center; border-radius: 3px; margin-right: 10px;}
.artlist .btnbox a:hover{background-color: #008d49; color: #fff; border-color: #008d49;}
/*右边 大家都在看*/
.topadvert{width: 300px; height: 130px; margin-bottom: 10px;}
.topadvert img{width: 300px; height: 130px;}
.right .artlist{background: #fff; padding: 10px; width: auto; /* margin-top: 10px; */}
.right .artlist h1{font-size: 20px; font-weight: 400; color: #01af63; line-height: 38px; height: 38px; margin-bottom: 6px;}
.right .artlist ul li{border-bottom: 1px solid #5da910; padding-left: 5px; overflow: hidden; margin-top: 10px; height: 87px; font-size: 14px;}
.right .artlist ul li a{color: #646464; display: block;}
.right .artlist ul li a:hover{text-decoration: underline;}
.right .artlist .seeDetail{background: #319d64; color: #fff; width: 66px; height: 24px; text-align: center; line-height: 26px; margin-top: 8px;}
.right .artlist .seeDetail:hover{text-decoration: none;}
.right .artlist .artlistL{width: 100px; height: 65px; margin-top: 5px;}
.right .artlist .artlistL img{width: 100px; height: 65px;}
.right .artlist .artlistR{width: 150px;}
/*文章显示页*/
.showart{padding: 10px 35px; background: #fff; width: 810px; height: auto;}
.showart .title{font-size: 20px; text-align: center; line-height: 30px; font-weight: bold;}
.showart .info{height: 30px; border-bottom: 1px solid #84c225; margin-top: 10px; margin-bottom: 20px;}
.showart .artcon{font-size: 14px; line-height: 22px;}
.showart .artcon img{margin:10px auto; max-width:750px}
.showart #hits{font-weight: 400 !important;}
.article_title{border-bottom: 1px solid #84c225; overflow: hidden; line-height: 40px; position: relative; margin-bottom: 20px; text-align: center;}
.article_title .article_title_info{font-size: 24px;}
.article_title .article_title_right{position: relative; line-height: 46px; width: 348px; margin: auto; text-align: left;}
.article_title .shareBox{position: absolute; right: 0px; top: 10px;}
.article_title i{font-style: normal;}
/*下一篇文章按钮*/
.next_article_box{text-align: center; width:810px; height:40px; border-top:1px solid #ccc; padding:10px 0 0 0}
.next_article{display: inline-block; width: 170px; height: 30px; line-height: 30px; text-align: center; border: 1px solid #c8cdd1; border-radius: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #474747; transition: all 0.5s; -webkit-transition: all 0.5s;}
.next_article:hover{background: #008d49; border: 1px solid #008d49; color: #fff;}
.mf10{margin-left: 10px;}
.next_article_box ul li{text-align:left; padding:5px; border-radius:5px; width:810px;}
.next_article_box a{color:#333;}