<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DataBaseType" value="ACCESS"/>
    <add key="ConStringEncrypt" value="false"/>    
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=mydata/data.mdb;"/>   
    <add key="ConnectionStringAccounts" value=""/>    
    <add key="ConnectionString2" value=""/>  
    <add key="VirtualPath" value=""/>  
    <add key="LoginPage" value="admin/Login.aspx"/> 
    <add key="MenuExpanded" value="false"/>   
    <add key="ModelCache" value="30"/>
  </appSettings>
    <system.web>
      <pages validateRequest="false" enableEventValidation="false" />
      <httpRuntime requestValidationMode="2.0" />
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
