@charset "utf-8";
/* CSS Document */
body {
    MARGIN: 0PX 0PX;
    PADDING: 0PX 0PX;
    FONT-SIZE: 12PX;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center;
    COLOR: #555555;
    background: #ffffff;
    line-height: 21px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 119px;
}

a {
    color: #555555;
    text-decoration: none;
    outline-style: none;
    outline-color: invert;
    outline-width: medium;
}

    a:link {
        text-decoration: none;
    }

    a:hover {
        color: #000000;
    }

    a img {
        border: 0;
    }

h1, h2, h3, h4, ul, li, div, p, span, b, i, input, select {
    margin: 0px;
    padding: 0px;
}

ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a img {
    border: none;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
}

.blue {
    color: #287ec7;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.container {
    min-width: 1100px;
    width: 1100px;
    margin: 0px auto;
    padding: 0px;
    text-align: left;
}

.top_bg {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    background: #222222;
    _position: absolute;
    _bottom: auto;
    _top: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + this.offsetHeight -24 : document.body.scrollTop + this.offsetHeight -24);
    z-index: 60;
    min-width: 1100px;
}

#top {
    position: relative;
    width: 1100px;
    height: 119px;
    margin: 0 auto;
    　;
}

.logo {
    float: left;
}

.set {
    position: absolute;
    right: 0px;
    top: 43px;
}

    .set a {
        margin: 0px 10px;
    }

        .set a img {
            vertical-align: middle;
            margin-right: 5px;
        }

.search_btn {
    position: absolute;
    right: 0px;
    top: 45px;
}

.search {
    position: absolute;
    right: 0px;
    top: 54px;
}

    .search input {
        float: left;
    }

.search_k {
    border: solid 1px #c7c7c7;
    width: 150px;
    height: 19px;
    background: #FFF;
    padding-left: 3px;
    line-height: 19px;
    color: #999999;
}

#menu {
    float: right;
    margin-right: 50px;
    padding-top: 43px;
}

    #menu ul li {
        float: left;
        width: 100px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
    }

        #menu ul li a {
            display: block;
            height: 35px;
            line-height: 35px;
            color: #ffffff;
        }

            #menu ul li a:hover {
                color: #ffffff;
                background: url(../images/menu_hover.jpg) repeat-x;
            }

.top_search_bg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 119px;
    display: none;
    border-top: solid 1px #eaeaea;
    background: #FFF;
    z-index: 20;
    text-align: center;
    padding: 37px 0;
    height: 38px;
}

    .top_search_bg .search_k {
        border: solid 1px #c8c8c8;
        width: 435px;
        cursor: text;
        color: #999;
        height: 36px;
        line-height: 36px;
        padding-left: 10px;
        border-right: none;
        background: none;
    }

    .top_search_bg input {
        vertical-align: middle;
    }
/*Top*/
.index_banner {
    min-width: 1100px;
}

.index_intro {
    padding: 60px 0;
    font-size: 14px;
}

.index_intro_left {
    width: 420px;
    float: left;
}

    .index_intro_left .en_font {
        font-size: 30px;
        line-height: 40px;
    }

    .index_intro_left .zh_font {
        font-size: 18px;
        padding: 15px 0;
    }

    .index_intro_left .line {
        width: 120px;
        height: 3px;
        background: #555555;
        margin-bottom: 30px;
    }

    .index_intro_left .contain_div {
        line-height: 28px;
        font-size: 14px;
    }

    .index_intro_left .more {
        margin-top: 20px;
    }

.index_intro_pic {
    float: left;
    display: inline;
    margin-left: 40px;
}

.index_intro_right {
    width: 194px;
    float: right;
}

    .index_intro_right .div_line {
        border-top: solid 1px #dddddd;
        border-bottom: solid 1px #dddddd;
        height: 150px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }

        .index_intro_right .div_line .b_font {
            font-size: 40px;
            line-height: 40px;
            padding-top: 33px;
            padding-bottom: 10px;
        }

.index_pro_bg {
    background: url(../images/index_pro_bg.jpg) no-repeat center top;
    min-width: 1100px;
    height: 1312px;
}

.index_pro_top {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.index_pro_con {
    padding-top: 10px;
    padding-bottom: 30px;
    height: 360px;
    position: relative;
}

    .index_pro_con span {
        position: absolute;
        top: 380px;
        cursor: pointer;
        width: 68px;
        height: 26px;
    }

        .index_pro_con span.hleft {
            background: url(../images/left_button.jpg) no-repeat;
            right: 85px;
        }

        .index_pro_con span.hright {
            background: url(../images/right_button.jpg) no-repeat right;
            right: 13px;
        }

    .index_pro_con .hh_list ul {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

        .index_pro_con .hh_list ul li {
            width: 260px;
            float: left;
            margin-right: 15px;
            display: inline;
            background: #ffffff;
            text-align: center;
            height: 360px;
        }

            .index_pro_con .hh_list ul li .s_pic {
                overflow: hidden;
            }

                .index_pro_con .hh_list ul li .s_pic img {
                    transform: scale(1, 1);
                    transition: all 0.2s ease-in-out 0s;
                }

                    .index_pro_con .hh_list ul li .s_pic img:hover {
                        -webkit-transform: scale(1.1, 1.1);
                        transform: scale(1.1, 1.1);
                        -webkit-transition: all 0.2s ease-in-out 0s;
                        transition: all 0.2s ease-in-out 0s;
                    }

            .index_pro_con .hh_list ul li .name {
                padding-top: 12px;
                font-size: 16px;
            }

.index_pro_xg {
    position: relative;
    margin-top: 36px;
}

    .index_pro_xg .spe_p {
        position: absolute;
        left: 568px;
        top: 226px;
        z-index: 10;
    }

.index_cases_bg {
    background: url(../images/index_cases_bg.jpg) no-repeat center top;
    min-width: 1100px;
    height: 733px;
}

.index_cases_top {
    padding-top: 70px;
    padding-bottom: 32px;
    text-align: center;
}

.index_cases_con {
}

    .index_cases_con .pic {
        width: 275px;
        float: left;
        height: 440px;
        position: relative;
    }

        .index_cases_con .pic .f_pic {
            width: 275px;
            height: 220px;
            background: #FFFFFF;
            overflow: hidden;
        }

            .index_cases_con .pic .f_pic img {
                transform: scale(1, 1);
                transition: all 0.2s ease-in-out 0s;
            }

                .index_cases_con .pic .f_pic img:hover {
                    -webkit-transform: scale(1.1, 1.1);
                    transform: scale(1.1, 1.1);
                    -webkit-transition: all 0.2s ease-in-out 0s;
                    transition: all 0.2s ease-in-out 0s;
                }

        .index_cases_con .pic .div_con {
            padding-top: 50px;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
        }

            .index_cases_con .pic .div_con .en_font {
                text-transform: uppercase;
                font-size: 14px;
            }

            .index_cases_con .pic .div_con .more {
                margin-top: 35px;
            }

    .index_cases_con #f_right .c_pic {
        position: absolute;
        left: 0;
        top: 220px;
    }

.index_news {
    padding: 50px 0;
}

.index_news_top {
    text-align: center;
    padding-bottom: 20px;
}

.index_news_type {
    height: 37px;
    text-align: center;
}

    .index_news_type ul {
        display: inline-block;
        *display: inline;
        zoom: 1;
        text-align: center;
    }

        .index_news_type ul li {
            width: 133px;
            height: 35px;
            line-height: 35px;
            float: left;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            border: solid 1px #dedede;
            margin: 0px 5px;
        }

            .index_news_type ul li a {
                display: block;
            }

            .index_news_type ul li.ui-tabs-active {
                background: #777777;
                color: #FFFFFF;
            }

                .index_news_type ul li.ui-tabs-active a {
                    color: #FFFFFF;
                }

.index_news_con {
    padding-top: 20px;
}

    .index_news_con .news_li {
        width: 330px;
        float: left;
        padding: 10px;
        border: solid 1px #dedede;
        height: 324px;
        margin: 0px 5px;
        display: inline;
        text-align: center;
    }

        .index_news_con .news_li .pic {
            overflow: hidden;
        }

            .index_news_con .news_li .pic img {
                transform: scale(1, 1);
                transition: all 0.2s ease-in-out 0s;
            }

                .index_news_con .news_li .pic img:hover {
                    -webkit-transform: scale(1.2, 1.2);
                    transform: scale(1.2, 1.2);
                    -webkit-transition: all 0.2s ease-in-out 0s;
                    transition: all 0.2s ease-in-out 0s;
                }

        .index_news_con .news_li .title {
            font-size: 14px;
            height: 44px;
            padding-top: 14px;
            text-align: center;
            overflow: hidden;
        }

        .index_news_con .news_li .line {
            width: 57px;
            height: 1px;
            background: #dddddd;
            margin: 0 auto;
            clear: both;
            margin-top: 5px;
            margin-bottom: 10px;
        }
/*Index End*/
.inside_banner {
    min-width: 1100px;
}

#con {
    padding: 27px 0px;
}

.inside_dh {
    min-width: 1100px;
    min-height: 65px;
    height: auto;
    _height: 65px;
    line-height: 65px;
    text-align: center;
    border-bottom: solid 1px #dddddd;
    background: #f5f5f5;
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
}

.inside_dh_l {
    float: left;
}

.inside_dh ul {
}

    .inside_dh ul li {
        height: 67px;
        line-height: 67px;
        float: left;
        text-align: center;
        font-size: 15px;
        position: relative;
    }

        .inside_dh ul li a {
            display: block;
            padding: 0 25px;
        }

            .inside_dh ul li a:hover {
                border-bottom: solid 1px #950d0f;
            }

            .inside_dh ul li a.hover {
                border-bottom: solid 1px #950d0f;
            }

.menu_current {
    border-bottom: solid 1px #950d0f;
}

.inside_dh ul li dl {
    display: none;
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0px;
    background: #f1f1f1;
    margin: 0px;
    padding: 0px;
}

    .inside_dh ul li dl dt {
        height: 38px;
        line-height: 38px;
        margin: 0px;
        padding: 0px;
    }

.inside_dh ul li:hover dl {
    display: block;
}

.inside_dh_r {
    float: right;
}

    .inside_dh_r span {
        background: url(../images/dh_weizhi.jpg) no-repeat left center;
        padding-left: 30px;
    }

.inside_er_dh {
    background: #f5f5f5;
    height: 40px;
    line-height: 40px;
}

    .inside_er_dh a {
        margin: 0 20px;
    }

.inside_con {
    min-height: 400px;
    height: auto;
    _height: 400px;
    padding: 15px 5px;
}

.pro_list {
    height: 320px;
    clear: both;
    cursor: pointer;
}

    .pro_list:hover .f_pic {
        background: #222222;
        color: #FFFFFF;
    }

    .pro_list:hover a {
        color: #FFFFFF;
    }

    .pro_list:hover .f_pic img {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        -webkit-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .pro_list .f_pic {
        float: left;
        width: 550px;
        height: 320px;
        background: #f8f8f8;
        overflow: hidden;
        transform: scale(1, 1);
        transition: all 0.4s ease-in-out 0s;
    }

        .pro_list .f_pic img {
            transform: scale(1, 1);
            transition: all 0.2s ease-in-out 0s;
        }

        .pro_list .f_pic .div_con {
            padding-top: 77px;
            text-align: center;
        }

            .pro_list .f_pic .div_con .title {
                font-size: 26px;
                line-height: 30px;
            }

            .pro_list .f_pic .div_con .line {
                background: #aaaaaa;
                width: 84px;
                height: 2px;
                margin: 15px auto;
            }

            .pro_list .f_pic .div_con .jianshu {
                width: 80%;
                margin: 0px auto;
                margin-top: 10px;
                line-height: 26px;
                font-size: 14px;
            }

#prof_right .c_pic {
    float: right;
}

.pro_search_con {
    padding: 5px 0;
    height: 35px;
    line-height: 33px;
    font-size: 16px;
}

.pro_search_con_Div {
    float: right;
}

    .pro_search_con_Div .pro_search_k {
        border: none;
        width: 166px;
        cursor: text;
        color: #999;
        height: 33px;
        line-height: 33px;
        padding-left: 10px;
        background: url(../images/pro_search_k.png) no-repeat;
    }

    .pro_search_con_Div input {
        vertical-align: middle;
    }

    .pro_search_con_Div select {
        background: #fcf9f2;
        height: 32px;
        line-height: 32px;
        width: 160px;
        padding-left: 15px;
        -moz-border-radius: 14px;
        -webkit-border-radius: 14px;
        border-radius: 14px;
        border: solid 1px #d7c8b2;
        vertical-align: middle;
    }

.proshow {
    width: 24.9%;
    text-align: center;
    margin-top: 10px;
    height: 200px;
    float: left;
}

    .proshow img {
        border: solid 1px #CCCCCC;
        padding: 2px;
    }

.casesshow {
    width: 33.3%;
    text-align: center;
    margin-top: 10px;
    height: 260px;
    float: left;
    font-size: 14px;
}

    .casesshow img {
        border: solid 1px #CCCCCC;
        margin-bottom: 8px;
    }

.big_con {
    padding: 30px 0px;
    min-height: 300px;
    height: auto;
    _height: 300px;
}

    .big_con .big_l {
        width: 520px;
        float: left;
    }

        .big_con .big_l .bigpic {
        }

        .big_con .big_l .small_con {
            margin-top: 10px;
            height: 36px;
            padding-bottom: 15px;
            b position:relative;
            overflow: hidden;
        }

            .big_con .big_l .small_con span {
                position: absolute;
                top: 27px;
                cursor: pointer;
                width: 14px;
                height: 24px;
            }

                .big_con .big_l .small_con span.hleft {
                    background: url(../images/big_left.jpg) no-repeat;
                    left: 10px;
                }

                .big_con .big_l .small_con span.hright {
                    background: url(../images/big_right.jpg) no-repeat right;
                    right: 10px;
                }

            .big_con .big_l .small_con .hh_list ul {
                width: 100%;
                margin: 0 auto;
                overflow: hidden;
            }

                .big_con .big_l .small_con .hh_list ul li {
                    width: 36px;
                    float: left;
                    height: 36px;
                    margin-right: 5px;
                    cursor: pointer;
                    border: solid 1px #fff;
                }

                    .big_con .big_l .small_con .hh_list ul li.active {
                        border: solid 1px #C00;
                    }

    .big_con .big_r {
        width: 508px;
        float: right;
        background: #f8f8f8;
        padding: 10px 30px;
        min-height: 500px;
        height: auto;
        height: 500px;
    }

        .big_con .big_r .title {
            font-size: 30px;
            padding: 10px 0px;
            font-weight: 400;
        }

        .big_con .big_r .jianshu {
            border-bottom: solid 1px #dddddd;
            padding-bottom: 15px;
            margin-bottom: 15px;
            font-size: 14px;
        }

    .big_con .big_r_con {
        line-height: 26px;
        font-size: 14px;
    }

.big_dh {
    height: 50px;
    background: url(../images/big_tuji_dh.jpg) no-repeat center right;
    line-height: 50px;
    margin-top: 15px;
    clear: both;
    font-size: 24px;
    text-transform: uppercase;
}

.big_yingyong_con {
    min-height: 270px;
    height: auto;
    _height: 270px;
    padding: 10px 0px;
}

    .big_yingyong_con .pic {
        width: 270px;
        float: left;
        display: inline;
        height: 270px;
        text-align: center;
        margin-right: 3px;
        margin-bottom: 3px;
        overflow: hidden;
        position: relative;
    }

        .big_yingyong_con .pic a {
            display: block;
        }

        .big_yingyong_con .pic .h_tb {
            display: none;
        }

        .big_yingyong_con .pic a:hover .h_tb {
            position: absolute;
            background: url(../images/b_fu_hover.jpg) no-repeat center center;
            width: 270px;
            height: 270px;
            left: 0;
            top: 0;
            z-index: 10;
            display: block;
            cursor: pointer;
        }

        .big_yingyong_con .pic img {
        }

.news_list {
    width: 330px;
    float: left;
    padding: 10px;
    border: solid 1px #dedede;
    height: 324px;
    margin: 0px 5px;
    margin-top: 35px;
    display: inline;
    text-align: center;
}

    .news_list .pic {
        overflow: hidden;
    }

        .news_list .pic img {
            transform: scale(1, 1);
            transition: all 0.2s ease-in-out 0s;
        }

            .news_list .pic img:hover {
                -webkit-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2);
                -webkit-transition: all 0.2s ease-in-out 0s;
                transition: all 0.2s ease-in-out 0s;
            }

    .news_list .title {
        font-size: 14px;
        height: 44px;
        padding-top: 14px;
        text-align: center;
        overflow: hidden;
    }

    .news_list .line {
        width: 57px;
        height: 1px;
        background: #dddddd;
        margin: 0 auto;
        clear: both;
        margin-top: 5px;
        margin-bottom: 10px;
    }

.net_bg {
    background: #efefef;
    padding: 20px;
    margin: 30px 0;
}

.net_con {
    background: #ffffff;
    text-align: left;
    height: 686px;
    overflow: hidden;
}

.net_left {
    width: 350px;
    float: left;
    padding: 25px 0;
    padding-left: 20px;
}

    .net_left .title {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .net_left .search_line {
        border-bottom: solid 1px #eeeeee;
        height: 37px;
        line-height: 37px;
        position: relative;
    }

        .net_left .search_line .sear_k {
            background: none;
            width: 330px;
            height: 37px;
            border: none;
            line-height: 37px;
            color: #999;
        }

        .net_left .search_line .sear_p {
            position: absolute;
            right: 0;
            top: 8px;
        }

    .net_left .chose_title {
        font-size: 14px;
        padding: 8px 0;
    }

    .net_left .chengshi_line {
        padding: 10px 0;
    }

        .net_left .chengshi_line select {
            width: 158px;
            padding: 6px 5px;
            text-align: center;
            border: solid 1px #eeeeee;
        }

    .net_left .gun_div {
        height: 440px;
        overflow-y: scroll;
    }

    .net_left .cha_line {
        border-bottom: solid 1px #eeeeee;
        font-size: 14px;
        padding: 8px 0;
        margin-bottom: 10px;
    }

        .net_left .cha_line .net_line {
            border-bottom: solid 1px #eeeeee;
            padding: 10px 0;
            padding-bottom: 18px;
        }

            .net_left .cha_line .net_line .div_line {
                padding: 5px 0;
                font-size: 14px;
            }

            .net_left .cha_line .net_line .tel_font {
                font-size: 18px;
            }

.net_right {
    overflow: hidden;
    padding-left: 30px;
}

.gun_div .net_line {
    border-bottom: solid 1px #eeeeee;
    padding: 10px 0;
    padding-bottom: 18px;
}

.big_detail_banner {
    height: 500px;
    color: #FFFFFF;
}

    .big_detail_banner .banner_contain {
        width: 700px;
        left: 224px;
        text-align: center;
        position: absolute;
        top: 128px;
        z-index: 30;
    }

    .big_detail_banner .title {
        font-size: 26px;
        padding-bottom: 25px;
        line-height: 30px;
        text-align: center;
    }

    .big_detail_banner .line {
        width: 80px;
        height: 1px;
        background: #FFFFFF;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .big_detail_banner .jianshu {
        line-height: 36px;
        font-size: 14px;
    }
/*关于我们首页*/
.jianshu_intro {
    padding: 40px 0;
}

.jianshu_intro_l {
    float: left;
}

.jianshu_intro_r {
    overflow: hidden;
    padding-left: 30px;
    line-height: 30px;
    font-size: 14px;
}

.jianshu_brand {
    min-width: 1100px;
    background: url(../images/intro_brand_bg.jpg) no-repeat center top;
    height: 548px;
}

.jianshu_brand_con {
    padding: 0 70px;
    padding-top: 223px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

    .jianshu_brand_con .title {
        font-size: 18px;
        padding-bottom: 25px;
    }

    .jianshu_brand_con .more {
        width: 206px;
        height: 48px;
        line-height: 48px;
        display: block;
        text-align: center;
        font-size: 14px;
        margin: 0 auto;
        border: solid 1px #7d7d7d;
        margin-top: 25px;
    }

.intro_honor_top {
    height: 55px;
    clear: both;
    margin-top: 25px;
}

    .intro_honor_top .bt_l {
        float: left;
    }

    .intro_honor_top a.more {
        float: right;
        width: 85px;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        text-align: center;
        background: #333230;
        color: #FFF;
    }

.intro_honor_con {
    padding-top: 10px;
    height: 300px;
    position: relative;
}

    .intro_honor_con span {
        position: absolute;
        top: 90px;
        cursor: pointer;
        width: 26px;
        height: 38px;
    }

        .intro_honor_con span.hleft {
            background: url(../images/left_button1.jpg) no-repeat;
            left: -40px;
        }

        .intro_honor_con span.hright {
            background: url(../images/right_button1.jpg) no-repeat right;
            right: -40px;
        }

    .intro_honor_con .hh_list ul {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

        .intro_honor_con .hh_list ul li {
            width: 262px;
            float: left;
            margin-right: 12px;
            display: inline;
            font-size: 14px;
            text-align: center;
        }

            .intro_honor_con .hh_list ul li img {
                margin-bottom: 10px;
                border: solid 1px #e5e5e5;
                max-width: 262px;
            }

.intro_pic {
    min-width: 1100px;
    background: #f7f7f7;
    padding: 40px 0;
}

    .intro_pic .pic {
        width: 33.3%;
        float: left;
    }
/*商学院*/
.school_first {
    height: 470px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .school_first .school_intro {
        width: 490px;
        float: left;
    }

    .school_first .school_news {
        width: 577px;
        float: right;
    }

    .school_first .school_news_con {
        padding-top: 10px;
    }

        .school_first .school_news_con .first_news {
            height: 110px;
            padding: 20px 0;
            border-bottom: dotted 1px #eeeeee;
        }

            .school_first .school_news_con .first_news .l_pic {
                float: left;
            }

            .school_first .school_news_con .first_news .r_con {
                overflow: hidden;
                padding-left: 15px;
                font-size: 14px;
                line-height: 24px;
            }

                .school_first .school_news_con .first_news .r_con .title {
                    font-size: 16px;
                    padding-bottom: 10px;
                }

        .school_first .school_news_con ul li {
            line-height: 38px;
            height: 38px;
            clear: both;
            border-bottom: dotted 1px #eeeeee;
            font-size: 14px;
        }

.school_top {
    height: 57px;
    background: url(../images/school_dh.jpg) no-repeat left bottom;
    line-height: 35px;
}

    .school_top .l_bt {
        font-size: 18px;
        float: left;
    }

    .school_top .more {
        float: right;
        margin-top: 5px;
    }

.school_first .school_intro_con {
    padding-top: 20px;
    font-size: 14px;
    line-height: 28px;
}

.school_mingxing {
    padding-top: 20px;
}

    .school_mingxing .pro_list {
        position: relative;
        width: 100%;
        height: 350px;
    }

    .school_mingxing .bx_wrap a.prev {
        width: 33px;
        height: 61px;
        line-height: 17px;
        outline-style: none;
        outline-width: 0;
        position: absolute;
        left: -40px;
        top: 132px;
        text-indent: -9999px;
        background: url(../images/left_button2.jpg) no-repeat;
        z-index: 10;
    }

    .school_mingxing .bx_wrap a.next {
        width: 33px;
        height: 61px;
        line-height: 17px;
        right: -40px;
        top: 132px;
        outline-style: none;
        outline-width: 0;
        position: absolute;
        text-indent: -9999px;
        background: url(../images/right_button2.jpg) no-repeat right;
        z-index: 10;
    }

    .school_mingxing .pro_list .bx_container {
        margin: 0px auto;
    }

    .school_mingxing .pic {
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        background: #7d7d7d;
    }

        .school_mingxing .pic img {
        }

        .school_mingxing .pic:hover {
            background: #333230;
        }

        .school_mingxing .pic a {
            color: #fff;
        }

        .school_mingxing .pic .name {
            padding: 15px 0;
        }
/*bxCarousel*/
.school_second {
    margin-top: 25px;
    clear: both;
}

.school_peixun {
    width: 557px;
    float: left;
}

.school_peixun_con {
    padding-top: 10px;
}

    .school_peixun_con ul li {
        line-height: 38px;
        height: 38px;
        clear: both;
        border-bottom: dotted 1px #dedede;
        font-size: 14px;
    }

.school_peiPic {
    width: 513px;
    float: right;
}

.school_peiPic_con {
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
}

.school_fc_pic {
    width: 513px;
    height: 292px;
    overflow: hidden;
    position: relative;
}

    .school_fc_pic .hd {
        height: 15px;
        overflow: hidden;
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 1;
    }

        .school_fc_pic .hd ul {
            overflow: hidden;
            zoom: 1;
            float: left;
        }

            .school_fc_pic .hd ul li {
                float: left;
                margin-right: 2px;
                width: 15px;
                height: 15px;
                line-height: 14px;
                text-align: center;
                background: #fff;
                cursor: pointer;
            }

                .school_fc_pic .hd ul li.on {
                    background: #f00;
                    color: #fff;
                }

    .school_fc_pic .bd {
        position: relative;
        height: 100%;
        z-index: 0;
    }

        .school_fc_pic .bd li {
            zoom: 1;
            vertical-align: middle;
        }

        .school_fc_pic .bd img {
            width: 513px;
            height: 292px;
            display: block;
        }

.school_fengcai {
    clear: both;
    margin-top: 30px;
}

.school_fengcai_con {
}

    .school_fengcai_con .pro_list {
        position: relative;
        width: 100%;
        height: 220px;
    }

    .school_fengcai_con .bx_wrap a.prev {
        width: 33px;
        height: 61px;
        line-height: 17px;
        outline-style: none;
        outline-width: 0;
        position: absolute;
        left: -40px;
        top: 70px;
        text-indent: -9999px;
        background: url(../images/left_button2.jpg) no-repeat;
        z-index: 10;
    }

    .school_fengcai_con .bx_wrap a.next {
        width: 33px;
        height: 61px;
        line-height: 17px;
        right: -40px;
        top: 70px;
        outline-style: none;
        outline-width: 0;
        position: absolute;
        text-indent: -9999px;
        background: url(../images/right_button2.jpg) no-repeat right;
        z-index: 10;
    }

    .school_fengcai_con .pro_list .bx_container {
        margin: 0px auto;
    }

    .school_fengcai_con .pic {
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        width: 264px;
        height: 193px;
        position: relative;
    }

        .school_fengcai_con .pic .name {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
            background: url(../images/tm.png) repeat;
            height: 30px;
            line-height: 30px;
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 14px;
        }
/*新闻首页*/
.news_home_dh {
    height: 50px;
    line-height: 50px;
    clear: both;
}

    .news_home_dh .title {
        float: left;
        font-size: 20px;
    }

    .news_home_dh .more {
        float: right;
    }

.news_qiye {
    padding: 20px 0;
}

.news_qiye_con {
    padding: 15px 0;
}

    .news_qiye_con .news_jiaodian {
        float: left;
        width: 524px;
        position: relative;
        height: 346px;
    }

        .news_qiye_con .news_jiaodian img {
            display: block;
        }

        .news_qiye_con .news_jiaodian .title {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 20;
            height: 40px;
            line-height: 40px;
            color: #FFFFFF;
            font-size: 14px;
            overflow: hidden;
            text-align: center;
            width: 100%;
            background: url(../images/tm.png) repeat;
        }

            .news_qiye_con .news_jiaodian .title a {
                color: #FFFFFF;
            }

    .news_qiye_con .news_sanli {
        overflow: hidden;
        padding-left: 25px;
    }

        .news_qiye_con .news_sanli .n_san_li {
            height: 110px;
            border-bottom: solid 1px #e5e5e5;
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 24px;
        }

            .news_qiye_con .news_sanli .n_san_li .title {
                font-size: 16px;
            }

            .news_qiye_con .news_sanli .n_san_li .date {
                font-size: 12px;
            }

.news_zhongduan_bg {
    background: #fafafa;
    min-width: 1100px;
    padding-top: 30px;
    margin-bottom: 15px;
}

.news_zhongduan_con {
    padding: 20px 0;
}

.news_prozixun {
    height: 1051px;
    position: relative;
    margin-top: 20px;
    padding-bottom: 60px;
}

    .news_prozixun .news_logo {
        left: 461px;
        top: 438px;
        position: absolute;
        z-index: 2;
    }

    .news_prozixun .pic {
        position: absolute;
        z-index: 2;
    }

        .news_prozixun .pic img {
            width: 100%;
            height: 100%;
        }

        .news_prozixun .pic .title {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 20;
            height: 40px;
            line-height: 40px;
            color: #FFFFFF;
            font-size: 14px;
            overflow: hidden;
            text-align: center;
            width: 100%;
            background: url(../images/tm.png) repeat;
        }

            .news_prozixun .pic .title a {
                color: #FFFFFF;
            }

    .news_prozixun .pic1 {
        width: 616px;
        height: 414px;
        left: 0;
        top: 0;
    }

    .news_prozixun .pic2 {
        width: 433px;
        height: 288px;
        right: 0;
        top: 0;
    }

    .news_prozixun .pic3 {
        width: 433px;
        height: 288px;
        left: 0;
        top: 438px;
    }

    .news_prozixun .pic4 {
        width: 433px;
        height: 288px;
        right: 0;
        top: 325px;
    }

    .news_prozixun .pic5 {
        width: 433px;
        height: 288px;
        left: 0;
        top: 763px;
    }

    .news_prozixun .pic6 {
        width: 616px;
        height: 414px;
        right: 0;
        top: 640px;
    }
/*Inside End*/
/*Bottom*/
.last_dh {
    min-height: 111px;
    height: auto;
    _height: 111px;
    min-width: 1100px;
    padding-top: 20px;
    background: #333230;
    color: #FFF;
}

    .last_dh a {
        color: #FFF;
    }

    .last_dh .list {
        width: 125px;
        float: left;
    }

    .last_dh .bt {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .last_dh .list ul {
    }

        .last_dh .list ul li {
            line-height: 26px;
            height: 26px;
            overflow: hidden;
        }

.last_contact {
    width: 230px;
    float: left;
    display: inline;
    margin-left: 20px;
}

    .last_contact .tel {
        font-size: 22px;
        background: url(../images/last_tel.jpg) no-repeat left 15px;
        padding-left: 60px;
        font-size: 14px;
        line-height: 30px;
        border-bottom: solid 1px #464543;
        padding-bottom: 25px;
        padding-top: 6px;
        margin-bottom: 15px;
    }

        .last_contact .tel b {
            font-size: 22px;
        }

    .last_contact a {
        margin-right: 10px;
    }

.last_weixin {
    float: right;
    width: 120px;
    text-align: center;
}

.last_menu {
    clear: both;
    color: #FFFFFF;
    border-top: solid 1px #464543;
    margin-top: 20px;
    text-align: center;
}

    .last_menu a {
        color: #FFFFFF;
    }

.last_menu_l {
    float: left;
}

.last_menu_r {
    float: right;
    padding-right: 10px;
    text-align: right;
    padding: 20px 0px;
}

    .last_menu_r a {
        margin: 0px 10px;
    }
/*main_e*/
.main_e {
    width: 100%;
    padding: 60px 0px 80px 0px;
    background: #ffffff;
}

.main_e_center {
    width: 1122px;
    margin: 0 auto;
    padding-top: 30px;
}

.main_e_title {
    height: 24px;
    width: 100%;
    line-height: 24px;
    padding-bottom: 8px;
    margin-bottom: 17px;
    border-bottom: 1px solid #dddddd;
}

    .main_e_title h2 {
        float: left;
        color: #666666;
        font-size: 16px;
        font-weight: bold;
    }

    .main_e_title a {
        float: right;
        font-size: 12px;
        color: #bcbcbc;
    }

        .main_e_title a:hover {
            color: #ff8202;
            text-decoration: underline;
        }
/*首页新闻*/
.main_e_list {
    width: 350px;
    float: left;
    margin: 0px 12px;
}

.main_e_lis_top {
    border: 1px solid #eeeeee;
}

.main_e_list .pic {
    width: 348px;
    height: 227px;
    overflow: hidden;
}

    .main_e_list .pic img {
        width: 348px;
        height: 227px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
    }

.main_e_lis_top_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #565656;
    overflow: hidden;
}

    .main_e_lis_top_title a {
        font-size: 14px;
        color: #ffffff;
        display: block;
        overflow: hidden;
    }

.main_e_lis_top:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.main_e_lis_top:hover .main_e_lis_top_title {
    background: #717171;
}

.main_e_list ul {
    padding: 10px 0px 0px 0px;
}

    .main_e_list ul li {
        line-height: 40px;
        height: 40px;
        overflow: hidden;
        border-bottom: 1px solid #eeeeee;
    }

        .main_e_list ul li a {
            color: #333333;
            font-size: 14px;
            width: 275px;
            height: 40px;
            float: left;
            text-align: left;
        }

            .main_e_list ul li a:hover {
                text-decoration: underline;
            }

        .main_e_list ul li span {
            float: right;
            font-size: 12px;
        }
/*display_title*/
.display_title {
    padding: 15px 0px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

    .display_title h1 {
        font-size: 20px;
        font-weight: bold;
    }
